.footer__link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  line-height: 1.125rem;
  transition: opacity 0.3s ease;
}

.footer__link:last-of-type {
  margin: 0;
}

.footer__link:hover {
  opacity: 80%;
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}
