.lead__caption {
  font-size: 0.625rem;
  line-height: 0.75rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  justify-self: start;
  margin: 0.5rem 0 0;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    margin-left: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    margin-left: 1rem;
  }
}
