.cover__title {
  max-width: 560px;
  margin: 0 auto 1rem;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 4.75rem;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 2rem;
    line-height: 2.188rem;
    max-width: 248px;
    margin: 0 0 0.5px;
  }
}
